<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <head>
        <title>Ma todo list</title>

        <!-- VueJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>

        <!-- Materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Custom -->
        <link rel="stylesheet" href="resources/css/style.css">

    </head>
    <body>
        <div class="container">
            <div id="app">
                <todo-app v-bind:todos="todos"></todo-app>
            </div>
        </div>

        <script>
            /* Todo App component */
            Vue.component('todo-app', {
                props: ['todos'],

                data: function(e){
                    return{
                        input: '',
                        filter: 'all',
                    }
                },
                template:
                    '<div>' +
                    '   <h1 class="header center app-title">Todo List</h1>' +

                    '   <div class="row center">' +
                    '    <input type="text"' +
                    '       placeholder="Enter a new task !"' +
                    '       v-model="input"' +
                    '       v-on:keyup.enter="addMessage"' +
                    '   />' +
                    '   </div>' +

                    '   <span class="">Nombre de todo : {{this.countTodos}}</span>' +
                    '   <br/>' +
                    '   <span class="">Todo restants : {{this.countRemainingTodos}}</span>' +

                    '   <div class="row center">' +
                    '       <div class="filter-container"> ' +
                    '           <div class="filter-item lighten-1 grey" ' +
                    '               v-on:click="setFilter(\'all\')"' +
                    '               v-bind:class="{\'filter-selected\': filter === \'all\' }">All</div> ' +

                    '           <div class="filter-item lighten-1 grey " ' +
                    '               v-on:click="setFilter(\'unchecked\')"' +
                    '               v-bind:class="{\'filter-selected\': filter === \'unchecked\' }" >Current</div> ' +

                    '           <div class="filter-item grey lighten-1" ' +
                    '               v-on:click="setFilter(\'checked\')"' +
                    '               v-bind:class="{\'filter-selected\': filter === \'checked\' }" >Closed</div> ' +
                    '       </div>' +
                    '       <ol class="collection">' +
                    '           <todo-item ' +
                    '               v-show="shouldBeDisplayed(itodo)"'+
                    '               v-for="(itodo, index) in todos"' +
                    '               class="collection-item"' +
                    '               v-bind:todo="itodo"' +
                    '               v-bind:key="index"' +
                    '               v-bind:index="index"' +
                    '               v-bind:class="{ line: itodo.checked }"' +
                    '               v-on:remove-todo="removeTodo(index)"' +
                    '               v-on:toggle-todo="toggleTodo(index)"' +
                    '           >' +
                    '           </todo-item>' +
                    '       </ol>' +

                    '   </div>' +
                    '</div>',

                // Without cache
                methods: {
                    addMessage: function(e){
                        this.todos.push({text: this.input, checked: false});
                        this.input = '';
                    },
                    removeTodo: function(index){
                        this.todos.splice(index, 1);
                    },
                    toggleTodo: function(index){
                        this.todos[index].checked = !this.todos[index].checked;
                    },
                    setFilter: function(filterName){
                        this.filter = filterName;
                    },
                    shouldBeDisplayed(todo){
                        return  (this.filter === 'all') ||
                                (this.filter === 'unchecked' && !todo.checked) ||
                                (this.filter === 'checked' && todo.checked);
                    }
                },

                // With cache
                computed: {
                    countTodos(){
                        return this.todos.length;
                    },
                    countRemainingTodos(){
                        return this.todos.filter((todo) => todo.checked === false).length;
                    }
                }
            });

            /* Todo Item component */
            Vue.component('todo-item', {
                props: ['todo', 'index'],
                template:
                    '<li>' +
                    '{{ todo.text }} ' +
                    '   <a href="#!" v-on:click="$emit(\'remove-todo\', index)" class="secondary-content red-text"><i class="material-icons" >delete</i></a>' +
                    '   <a href="#!" v-on:click="$emit(\'toggle-todo\', index)" class="secondary-content">' +
                    '       <i class="material-icons default-todo-check"' +
                    '          v-bind:class="{ \'todo-checked\': todo.checked }">checked' +
                    '       </i>' +
                    '   </a>' +
                    '</li>',
            });

            /* Todo VueJS App */
            var app = new Vue({
                el: '#app',
                data: {
                    todos: [
                        {text: 'apprendre JS', checked: false},
                        {text: 'apprendre Vue', checked: false},
                        {text: 'créer quelque chose de génial', checked: false},
                    ]
                },
            });
        </script>
    </body>
</html>
