

#app{
  .app-title{
    color: #9f9f9f;
  }

  .collection{
    margin:0;
    padding-left:0;

    .collection-item{
      list-style:none;

      .line {
        text-decoration: line-through;
      }

      .default-todo-check{
        color: #e0e0e0;
      }

      .todo-checked {
        color: #26a69a;
      }
    }
  }

  .filter-container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:20px;

    .filter-item{
      width: 33%;
      cursor: pointer;
      color:white;
      line-height: 30px;

      &.filter-selected{
        background-color: #9e9e9e!important;
      }
    }
  }

}
