#app .app-title {
  color: #9f9f9f; }

#app .collection {
  margin: 0;
  padding-left: 0; }
  #app .collection .collection-item {
    list-style: none; }
    #app .collection .collection-item .line {
      text-decoration: line-through; }
    #app .collection .collection-item .default-todo-check {
      color: #e0e0e0; }
    #app .collection .collection-item .todo-checked {
      color: #26a69a; }

#app .filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px; }
  #app .filter-container .filter-item {
    width: 33%;
    cursor: pointer;
    color: white;
    line-height: 30px; }
    #app .filter-container .filter-item.filter-selected {
      background-color: #9e9e9e !important; }
